.App {
  background-color: #282c34;

}

.App-header {
  margin-left: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.myTitle {
  margin-right: 30px;
  color: red;
  margin-bottom: 30px;
}
.myList {
  margin-right: 30px;
  text-align: left;
}
.myListElement {
  margin: 10px 0;
  transition: transform .2s;
}
.myListElement:hover {
  cursor: pointer;
  color: gold;
}
